[submodule "facial-emotion-recognition-gluon"]
	path = facial-emotion-recognition-gluon
	url = https://github.com/TalkAI/facial-emotion-recognition-gluon
[submodule "GluonBootcamp"]
	path = GluonBootcamp
	url = https://github.com/cyrusmvahid/GluonBootcamp
